.table {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  @include border-radius(3px 3px 0 0);

  .table-row {
    display: table-row;

    .icon-arrow-up:before {
      content: "\e904" !important;
    }

    &.sub-row {
      display: none !important;

      &.show {
        display: table-row !important;
      }
    }
  }

  .table-cell {
    display: table-cell;
    vertical-align: middle;
    background-color: $white;
    padding: 14px 24px;
    border-bottom: 1px solid $grey-light;
  }

  .head {
    .table-cell {
      height: 40px;
      color: $grey-middle-dark;
      border-top: 1px solid $grey-light;
      border-right: 1px solid $grey-light;

      &:last-child {
        border-right: 0;
      }
    }

    &.sorting {
      .table-cell {
        font-size: 0;

        >span, i {
          font-size: 14px;
          display: inline-block;
          vertical-align: middle;
        }

        span {
          padding-right: 8px;
          max-width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        i {
          line-height: 0;
          font-size: 9px;

          &:hover {
            cursor: pointer;
            color: $blue;
          }

          &.active {
            color: $green-dark;
          }
        }
      }
    }
  }

  .bottom {
    .table-cell {
      height: 60px;
    }
  }
}

.flex-table {
  >div {
    width: 100%;
    background-color: $white;

    &:nth-child(2n) {
      background-color: #FBFBFC;
    }
  }

  .flex-item {
    width: 25%;
    padding: 14px 24px;

    &:first-child {
      text-align: left;
      font-family: notoSansMedium;
    }
  }
}

.table-style-two {
  .table-row {
    .table-cell {
      background-color: $white;
    }

    &:nth-child(2n + 1) {
      .table-cell {
        background-color: #FBFBFC;
      }
    }
  }
}

@media (max-width: 992px) {
  .table {
    .table-cell {
      padding: 10px;
    }
  }
}

@media (max-width: 768px) {
  .loan-items-container {
      .table {
        display: flex;
        margin-bottom: 10px;
        border: 0 ;
        border-bottom: 1px solid $grey-light;
        @include flex-wrap(wrap);

        .table-row {
          width: 100%;
          padding: 25px 25px 10px;
          background-color: $white;
          display: flex;
          border: 1px solid $grey-light;
          border-bottom: 0;
          @include flex-wrap(wrap);
        }

        .table-cell {
          display: block;
          flex: 100%;
          padding: 0 0 15px;
          border-bottom-width: 0;

          &:not(.item-img){
            p {
              display: inline-block;
              margin-right: 15px;
            }
          }

          &.last {
            .show-for-mb {
              display: block !important;
            }
          }

          &.item-img {
            text-align: center;

            p {
              text-align: left;
            }
          }
        }
      }
    }
}

@media (max-width: 620px) {
  .loan-items-container {
    .table {
      .table-row {
        width: 100%;
      }
    }
  }
}