
.ui-datepicker {
  width: 100%;
  max-width: 240px;
  padding: .2em .2em 0;
  display: none;
  z-index: 999 !important;

  &.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
  }
  &.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
  }
  &.ui-widget-content a {
    color: #333333;
  }
  .ui-widget-header {
    background: $blue;
    font-weight: bold;
  }
  .ui-widget-header a {
    color: #333333;
  }

  .ui-state-default,
  &.ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button {
    border: 1px solid $grey-light;
    background: $white-middle-dark;
    font-weight: normal;
    color: $black;
  }
  .ui-state-default a,
  .ui-state-default a:link,
  .ui-state-default a:visited,
  a.ui-button,
  a:link.ui-button,
  a:visited.ui-button,
  .ui-button {
    color: $black;
    text-decoration: none;
  }
  .ui-state-hover,
  &.ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  &.ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus,
  .ui-button:hover,
  .ui-button:focus {
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
  }
  .ui-state-hover a,
  .ui-state-hover a:hover,
  .ui-state-hover a:link,
  .ui-state-hover a:visited,
  .ui-state-focus a,
  .ui-state-focus a:hover,
  .ui-state-focus a:link,
  .ui-state-focus a:visited,
  a.ui-button:hover,
  a.ui-button:focus {
    color: #2b2b2b;
    text-decoration: none;
  }

  .ui-visual-focus {
    box-shadow: 0 0 3px 1px rgb(94, 158, 214);
  }
  .ui-state-active,
  &.ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active,
  .ui-button:active,
  .ui-button.ui-state-active:hover {
    border: 1px solid $blue-middle-light;
    background: $blue;
    font-weight: normal;
    color: #ffffff;
  }
  .ui-icon-background,
  .ui-state-active .ui-icon-background {
    border: #003eff;
    background-color: #ffffff;
  }
  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
  }

  /* Interaction Cues
  ----------------------------------*/
  .ui-state-highlight,
  &.ui-widget-content .ui-state-highlight,
  .ui-widget-header .ui-state-highlight {
    border: 1px solid $green-dark;
    background: rgba(84,207,26,0.8);
    color: $white;
  }
  .ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90;
  }
  .ui-state-highlight a,
  &.ui-widget-content .ui-state-highlight a,
  .ui-widget-header .ui-state-highlight a {
    color: #777620;
  }

}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 4px;
  line-height: 18px;
  text-align: center;
  width: 18px;
  height: 18px;

  &.ui-state-hover {
    background: transparent !important;
  }
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  &:before {
    content: '\e902';
    font-size: 10px;
    color: $white;
    font-family: icomoon;
  }
}
.ui-datepicker .ui-datepicker-next {
  &:before {
    content: '\e903';
  }
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 10% 0 20%;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
  border: 0;
  color: $white;
  background-color: transparent;
  -webkit-appearance: none;

  option {
    color: $black;
    padding: 0;
    text-align: left;
  }
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  padding: 0 25px 0 10px;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: .5em;
  top: .3em;
}