footer {
  position: relative;
  background-color: $white-middle-dark;
  color: $grey;
  font-size: 12px;

  .top {
    height: 92px;
  }

  ul {
    font-size: 0;

    li {
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .social-box {
    li {
      margin-right: 8px;
    }
  }

  .bottom {
    border-top: 1px solid $white;
    height: 74px;

    >span {
      &:first-child {
        width: 60%;
      }
      &:last-child {
        width: 40%;
      }
    }

    ul {
      li {
        margin-right: 32px;

        &:last-child {
          margin-right: 0
        }

        a {
          color: $grey;
          @include transition(0.3s);

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

.up {
  opacity: 0;
  position: fixed;
  z-index: 10;
  bottom: 100px;
  right: 40px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border: 1px solid $grey;
  @include border-radius(4px);
  @include transition(0.3s);

  i {
    color: #000000;
    font-size: 12px;
    line-height: 40px;
  }

  &:hover {

    i {
      color: #ffffff;
    }
  }

  &.show {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  footer {
    .bottom {
      height: initial;
      padding: 10px 0;
      @include flex-wrap(wrap);

      >span {
        flex: 100%;
        margin-bottom: 10px;
      }

      ul {
        li {
          margin-right: 20px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  footer {
    .bottom {
      height: initial;
      padding: 10px 0;
      @include flex-wrap(wrap);

      >span {
        flex: 100%;

        &:last-child {
          margin-top: 10px;
          text-align: center !important;
        }
      }

      ul {
        li {
          margin-right: 20px;
          margin-bottom: 5px;
        }
      }
    }
  }
}